/*-----------------------------nav bar-------------------------------------*/

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #d3d3d3;
}

.dropdown-toggle:focus {
    color: #d3d3d3;
}

.nav-item:focus {
    color: #d3d3d3;
}

.dropdown-menu {
    background-color: rgba(0,0,0,.15);
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: #d3d3d3;
    background-color: rgba(0,0,0,.15);
}

.dropdown-item:focus {
    color: #d3d3d3;
    background-color: rgba(0,0,0,.15);
}

/*-----------------------------butterfly banner-------------------------------------*/

.butterfly-banner {
        background: url("/assets/images/butterfly_banner.jpg") no-repeat center center; 
        height: 40vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

/*-----------------------------game.html-------------------------------------*/

.background-image { 
    background: url("/assets/images/meadow.jpg") no-repeat center center fixed; 
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.image-div {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    
    }

.col-6 {
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

.image {
    height: 250px;
    width: 300px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0;
    margin-left: 20%;
    margin-right: 20%;
    }

@media only screen and (max-width: 968px) {
    .image {
        height: 180px;
        width: 180px;
    }
}

@media only screen and (max-width: 720px) {
    .image {
        height: 120px;
        width: 120px;
    }
}

.game-controls {
    margin-left: 50%;
    color: white;
    font-size: x-large;
}