

/*-----------------------------game.html-------------------------------------*/

body { 
    background: url("/assets/images/meadow.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.image-div {
    display: flex;
    flex-wrap: wrap;
    margin: 10% 25% 0 25%;
    justify-content: space-between;
    align-content: space-between;
    width: 50%;
    }

@media only screen and (min-width: 928px) {
    .image {
        padding: 40%;
    }
}
    
.image {
    height: 230px;
    width: 250px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0;
    }